* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: min(600px, 90%);
    height: min(700px, 90%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5em;
    overflow: hidden;
}

#image-container {
    width: 100%;
    height: 40%;
}

#image-container > img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#product-info {
    display: grid;
    width: 100%;
    height: 60%;
    padding: 1.5em;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

h1, #final-price {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 32px;
}

#prices {
    display: flex;
    align-items: center;
}

#final-price {
    color: hsl(158, 36%, 37%);
}

#og-price {
    padding-left: 2em;
    text-decoration: line-through;
}

button {
    margin-top: 1em;
    padding: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    border-radius: 0.5em;
    background-color: hsl(158, 36%, 37%);
    border: none;
    transition: background-color 0.5s ease-in-out;
}

button > img {
    margin-right: 1em;
}

button:hover {
    background-color: hsl(158, 42%, 18%);
}

@media screen and (min-width: 768px) {
    main {
        flex-direction: row;
        height: 500px;
    }

    #image-container, #product-info {
        height: 100%;
        width: 50%;
    }

    #image-container > img {
        content: url(./images/image-product-desktop.jpg);
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #product-info {
        padding: 2em;
    }

    button {
        padding: 0;
    }
}
